@import 'variables';

.cal-week {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: $scrollbarWidth;
    overflow: visible;
    width: $scrollbarWidth;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $scrollbarWidth/2;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid #ccc;
    min-height: 20px;
    padding: 100px 0 0;
    box-shadow: none;
  }
}

.cal-week-content {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  margin-right: $scrollbarWidth;
}

.cal-week-days {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex: 1;
}
